{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-lg-6 col-xl-10">
      <form action="{% url 'withdraw_tournament' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <input type="submit" value="Withdraw from tournament" class="btn btn-primary">
      </form>
    </div>
    <div class="col-xs-12 col-lg-6 col-xl-8">
    </div>
  </div>
</div>
{% endblock %}